*
{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    width: 100%;
    height: 100%;
    
}
.top{
    width: 90%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../background.jpg);
    background-position: center;
}
.top .logo{
    width: 200px;
    cursor: pointer;
}
.top ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.top ul li a {
    text-decoration: none;
    color: #0cf5c2ee;   
}
.top ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background:#0cf5c2ee;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s ease-in-out;
}
.top ul li:hover::after {
    width: 100%;
}
.articles {
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: orange;
}
.articles:hover{
    font-size: 45px;
    transition: 0.5s ease-in-out;
}
.top2{
    width: 90%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffffee;
    background-position: center;
    height: 10px;
}
.top2 li{
    list-style: none;
    display: block;
    margin: 0 20px;
}
.top2 li a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
}
.top2 li a:hover{
    color: orange;
    transition: 0.2s ease-in-out;
    font-size: 17px;
}
.top3 {
    width: 90%;
    height: 2000px;
    margin: 1px;
    padding: 35px;
    background-color: rgb(255, 255, 255);
}
.top3 .top31{
    background-color: rgb(255, 255, 255);
    height: 1000px;
    width: 60%;
    float: left;
}
.top3 .top32{
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 600px;
    float: right;
}
.top3 .img {
    width: 400px;
    height: auto;
    align-items: center;
}
.h1 {
    font-size: bold;
    text-align: center;
    font-size: 40px;
}
.links{
    padding-top: 20px;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    cursor: pointer;
}
.links:hover{
    color: orange;
    transition: 0.2s ease-in-out;
    font-size: 21px;
}
.clickhere{ 
    text-decoration: underline;
    color: orange;
}
.top2 li.active a{
    color: orange;
    font-size: 17px;
}






@media screen and (max-width: 600px) {
    .top .logo{
        width: 100px;
    }

    .top{
        width: 100%;
        margin: auto;
    }

    .top ul li {
        display: inline-flex;
    }

    .top2 {
        padding: 5px;
        height: inherit;

    }
    .top2 li a {
        font-size: xx-small;
        width: 100%;
        line-height: 5px;
    }
    .top2 li.active a{
        font-size: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .top3 {
        width: 100%;
        height: 2000px;
        margin: 5px;
        padding: 8px;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
    }

    .top3 .top31{
        background-color: rgb(255, 255, 255);
        height: 1000px;
        width: 65%;
        float: none;
        
        
    }
    .top31 h1 {
        font-size: large;
    }
    .top3 .top32{
        background-color: rgb(255, 255, 255);
        width: 30%;
        height: 600px;
        font-size: small;
        float: none;
    }
    .top32 {
        width: inherit;       
    }
    .top32 h1 {
        font-size: small;
    }
    .top32 a {
        font-size: x-small;
        display: inline-flex;
    }
    .top3 {
        margin-top: 8px;
    }
    .links:hover{
        font-size: 11px;
    }

}        